.titleContainer,
.description,
.data {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  color: var(--gray10);
  height: 8rem;
  font-size: medium;
}

.name {
  width: 100%;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.data {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  width: 100%;
  font-size: larger;
}

.link {
  color: var(--blue11);
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: larger;
}

.link:hover {
  text-decoration: underline;
}

.shareholdersContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.separator {
  background-color: var(--gray10);
  height: 1px;
  width: 100%;
  margin: 1.25rem 0rem;
}

.shareholderTitle {
  font-weight: 600;
}
