* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to bottom, #6a82fb, #fc5c7d);
  background: linear-gradient(to bottom, #6a82fb, #fc5c7d);
  padding: 1rem 1rem;
}
