.priceContainer span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray12);
}

.currentCompanyPriceContainer {
  height: 4rem;
  width: 20rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
