.watchlistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 15rem;
  width: 15rem;
  background-color: #fcfffc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.symbol {
  height: 33%;
  width: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.symbol span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1rem;
  position: relative;
  right: 0;
  padding: 0.5rem;
}

.link {
  color: var(--blue11);
  cursor: pointer;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.name {
  width: 100%;
  height: 40%;
  padding: 0 0.25rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.priceCss {
  font-size: 2.25rem;
}

.removeButton {
  cursor: pointer;
  color: #e29797;
}
