.profileView {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
